@font-face{font-family:"IonIcons";src:url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");src:url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");font-weight:large;font-style:large}

.pt20{
	padding-top: 1px;
}
.inverse{
	background: #000;
	padding: 20px 0;
	color: #fff;
}
.select-wrap {
	position: relative;
	width:100%;
}
.select-wrap:before {
	z-index: 1;
	position: absolute;
	right: 15px;
	top: 0;
	content: "\f123";
	font-family: "IonIcons";
	line-height: 55px;
	color: #7F878C;
	pointer-events: none;
}
select{
	outline:none;
	-moz-appearance: none;
	text-align: center;
	text-overflow: '';
	background: none transparent;
	vertical-align: middle;
	font-size: x-large;
	color: inherit;
	-webkit-appearance: button;
	-moz-appearance: button;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 50px;
	padding: 8px 12px;
	border:1px solid #ddd;
	color:#828c9a;
	width:100%;
	border-radius:5px;
}
select option{
	background-color: #fff;
	color: #333;
}
select::-ms-expand {
	display: none;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #828c9a;
}
.select-wrap.select-primary:before{
	color:#fff;
}
.select-wrap.select-primary > select{
	background:#0084B4;
	color:#fff;
	border-color:#0084B4;
}
.select-wrap.select-primary > select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #fff;
}

.select-wrap.select-inverse:before{
	color:#fff;
}
.select-wrap.select-inverse > select{
	color:#fff;
	border-color: #fff;
}

.select-wrap.select-inverse > select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #fff;
}